* {
  box-sizing: border-box;
}

:root {
  --color-champagne: #c47900;
  --color-champagne-dark: #bd6d00;
  --color-champagne-20: #f5e5cc;
  --color-champagne-10: #faf3e8;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f3f4f6;
}

html[data-color-mode="dark"] body {
  background: #1a1b1f;
}
